.wrapper {
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  padding: 1.2rem 0;
  box-shadow: 0 -0.2px 9px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: #fff;
}
.container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.btn {
  border: 1px solid var(--color-primary);
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.btn:hover:not(:disabled) {
  background: var(--color-primary);
}

.btn__icon {
  height: 2.4rem;
  stroke: var(--color-primary);
}

.btn:hover:not(:disabled) .btn__icon {
  stroke: #fff;
}

.btn__page {
  height: 3.6rem;
  width: 3.6rem;
  font-size: 1.8rem;
  color: #343434;
  background: none;
  border: none;
  cursor: pointer;
}

.btn__page:hover:not(:disabled) {
  border-radius: 50%;
  background: var(--color-primary);
  color: #fff;
}

.btn__page.btn__page--current {
  border-radius: 50%;
  background: var(--color-primary);
  color: #fff;
}

.container *:disabled {
  opacity: 0.5;
  cursor: default !important;
}
