.header {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  min-height: 7.2rem;
  padding: 0 2.4rem;
  color: var(--btn-color);
  background-image: linear-gradient(
    to right,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 2.8rem;
}

.icon {
  height: 4.9rem;
}

.control-btns {
  display: flex;
  gap: 1.2rem;
}

.btn:focus-visible {
  box-shadow: 0 0 0 0.6rem var(--btn-focus-box-shadow);
}

.saved::after {
  position: absolute;
  display: block;
  content: "Success updating student";
  padding: 1.2rem 1.6rem;
  border-radius: 155px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  background-color: #fff;
  color: var(--color-primary-dark);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 0.5s, 0.5s 2s forwards fadeout;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
