.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
  flex-grow: 1;
}

.list-item {
  list-style-type: none;
}

.btn {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  transition: background-color 0.3s, opacity 0.3s;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default !important;
}

.btn:hover:not(:disabled) {
  background-color: var(--btn-hover);
}

.container__centered--v {
  justify-content: center;
}

.loader {
  border: 1.6rem solid var(--loader-border-color);
  border-top: 1.6rem solid var(--color-primary);
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container__checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.checkmark {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #eee;
}

.container__checkbox input.checked {
  z-index: 1;
}
.container__checkbox input.checked + .checkmark {
  background-color: var(--color-primary);
}

.checkmark:after {
  content: "\2714";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: none;
}

.container__checkbox input.checked + .checkmark:after {
  display: block;
}
