.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  min-height: 3.2rem;
  font-size: 1.2rem;
  color: var(--btn-color);
  background-color: var(--color-primary-dark);
}

.github-logo {
  height: 2.2rem;
  fill: #fff;
  transition: all 0.3s linear;
}

.github-logo:hover {
  transform: rotate(360deg);
}
