:root {
  --color-primary: #3f9a9a;
  --color-primary-light: #65aeae;
  --color-primary-dark: #327b7b;

  --color-header-footer: #ecf5f5;

  --color-header-btn: #204d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 2.2rem;
}
