:root {
  --color-primary: #3f9a9a;
  --color-primary-light: #65aeae;
  --color-primary-dark: #327b7b;

  --focus-box-shadow: rgba(50, 123, 123, 0.5);

  --btn-color: #ecf5f5;
  --btn-bg-color: #204d4d;
  --btn-hover: #193e3e;
  --btn-focus-box-shadow: #2c6c6c;

  --input-bg-color: #ecf5f5;

  --err-msg-color: #b95353;

  --loader-border-color: #f3f3f3;
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* :focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.6rem var(--focus-box-shadow);
}

#root {
  height: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 2.2rem;
}

@media (max-width: 50em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 32em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 50em) and (min-height: 40em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37em) and (min-height: 40em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 25em) and (min-height: 40em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 18em) and (min-height: 40em) {
  html {
    font-size: 40%;
  }
}
