.container {
  display: block;
  position: relative;
  padding: 1.4rem;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}

.container input:checked ~ .checkmark {
  background-color: var(--color-primary);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.9rem;
  top: 0.5rem;
  width: 0.5rem;
  height: 1rem;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
